*{
    margin: 0;
    padding: 0;
}




.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
#background-image{
    width: 1440px;
    height: 695px;
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 1140px;
    height: 151px;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 158px;
}
nav h3{
    width: 99px;
    height: 51px;
    color:#4E47FF;
    font-size: 34px;
}
nav button{
    width: 132px;
    height: 48px;
    border-radius: 10px;
    background-color: #4E47FF;
    font-style: bold;
    font-size: 16px;
    color: #FFFFFF;
}
header{
    width: 905px;
    height: 237px;
    margin: 0 auto;
    align-content: center;
    text-align: center;
    margin-bottom:150px;

}
header h1{
    width: 905px;
   margin-bottom: 30px;
    font-size: 65px;
    font-weight: bold;

}
header button{
    width: 174px;
    height: 48px;
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    color: #FFFFFF;
}
main{
    background-color: #f5f8ff;
}
/* action section start */
#action-div{
    display: flex;
    justify-content: space-between;
    width: 1140px;
    height: 328px;
    margin: 0 auto;
    padding: 70px 0px;
}
#action-div2{
    padding-top: 20px;
    width: 517px;
    height: 203px;
    
   
    
    
}
#action-h2{
    width:517px ;
    height: 49px;
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
#action-p{
    width: 517px;
    height: 60px;
    font-size: 24px;
    color: #252432;

}
#action-button{
    width: 229px;
    height: 48px;
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    color: #FFFFFF;
}
#action-image{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}
/* Produtive user section */
#productive-user-div{
    background-color: #D7D5F4;
    width: 1140px;
    height: 306px;
    margin: 0 auto;
    padding: 70px 0px;
    justify-items: center;
    border-radius: 24px;
    
}
#productive-user-h2{
width: 856px;
height: 45px;
font-size: 38px;
font-weight: bold;
margin: 0 auto;
text-align: center;
padding-top: 30px;
}
#productive-user-div2{
    display: flex;
    justify-content: space-between;
    width: 856px;
    height: 221px;
    margin: 0 auto;

}
#active-2m{
width: 162px;
height: 97px;
font-style:unset;
font-size: 80px;
font-weight: bold;
color: #4E47FF;
font-style: normal;
}
#acttve-u{
    color: #757575;
    font-weight: 20px;
}

#what-say-h1{
    width: 1140px;
    height: 49px;
    font-size: 42px;
    text-align: center;
    margin: 0 auto;
}
#icon-div{
    display: flex;
    justify-content: space-between;
    width: 1140px;
    height: 243px;
     margin: 0 auto;
}
.email{
    display: flex;
}

.review-section{
    width: 1140px;
   margin: 0 auto;
   padding: 70px 0px;
   text-align: center;
}
.review-section h1{
    font-size: 42px;
    font-weight: bold;
    padding-bottom: 50px;

}
.reviews{
    display: flex;
    gap: 40px;
}
.review{
    background-color: white;
    border: 1px solid #F2EDED;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
}
.review img{
    padding-bottom: 10px;
    margin: 10px 0px;
}
.review h2{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0px;
}
.review p{
    font-size: 16px;
    color: #757575;
    margin: 10px 0px;
}
.clint-name{
    display: flex;
    gap: 20px;
    margin: 10px 0px;
    align-items: center;
}
.clint-name img{
    border-radius: 120px;
    height: 50px;
    width: 50px;

}
.clint-details h3{
    font-size: 18px;
    margin: 5px 0px;
}
.clint-details p{
    font-size: 16px;
}
.ready-to-focus{
    margin: 0 auto;
    width: 1140px;
   padding: 70px 20px;
    text-align: center;
    background-color: white;
}
.ready-to-focus h1{
    font-size: 50px;
    font-weight: bold;
     margin: 20px 0px;
    
}
.ready-to-focus p{
    font-size: 16px;
    margin: 20px 0px;
}
.ready-to-focus button{
    width: 229px;
    height: 48px;
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    color: #FFFFFF;
    margin: 20px 0px;
}
.ready-to-focus img{
    border-radius: 48px;
}
.contact-section{
    display: flex;
    gap: 50px;
    width: 1140px;
    margin: 50px auto;
}
.contact-section h1{
    font-weight: bold;
    font-size: 97px;
    margin: 100px 0px;
}
.contact-section input[type="email"], input[type="text"], input[type=textarea]{
    font-size: 20px;
    color: #808080;
    padding: 20px 20px;
    width: 93%;
    margin-top: 10px;
    margin-bottom: 25px;
    /* border: 1px solid (0); */
    border-radius: 10px;
}
.contact-section label{
    font: 18px;

}
#button-getintouch{
    width: 229px;
    height: 48px;
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    color: #FFFFFF;
    /* width: 200px;
    height: 62px;
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    color: #FFFFFF;
    margin: 20px 0px; */
}
.webflow-bottom{
    font-size: 70px;
    color: #4E47FF;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
}
.webflow-bottom-p{
    width: 531px;
    height: 48px;
    color: #8987A1;
    font-size: 15px;
    margin: 0 auto;
    text-align: center;
}
.bottom-link{
    font-size: 20px;
    display: flex;
    margin: 0 auto;
    width: 401px;
    height: 24px;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 30px;
  
}